@using Data.Entity;
@{
    var admin = Session["ADMIN_SESSION"] as Admin;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/main.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/custom.css" rel="stylesheet" />
</head>
<body style="background-color: #f5f5f5;padding: 10px;">
    <!-- Sidebar Menu -->
    <div class="app-sidebar-overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar-user">
            <img class="admin-avatar" src="~/Areas/Admin/Content/images/admin-avatar.png" alt="User Image">
            <p class="app-sidebar-user-name "><b>@admin.Fullname</b></p>
            <p class="app-sidebar-user-designation">Chào mừng bạn trở lại</p>
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("AdminHome") ? "haha" : "")" href="/Admin/AdminHome">
                    <i class='bx bx-tachometer'></i>
                    <span class="app-menu-label">Trang chủ</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("ProductsManager") ? "haha" : "")" href="/Admin/ProductsManager">
                    <i class='bx bx-purchase-tag-alt'></i>
                    <span class="app-menu-label">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("NewsManager") ? "haha" : "")" href="/Admin/NewsManager">
                    <i class='bx bx-news'></i>
                    <span class="app-menu-label">Quản lý bài viết</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("BillsManager") ? "haha" : "")" href="/Admin/BillsManager">
                    <i class='bx bx-task'></i>
                    <span class="app-menu-label">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("SalesReport") ? "haha" : "")" href="/Admin/SalesReport">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="app-menu-label">Báo cáo doanh thu</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item @(Request.RawUrl.Contains("Settings") ? "haha" : "")" href="/Admin/Settings">
                    <i class='bx bx-cog'></i>
                    <span class="app-menu-label">Cài đặt hệ thống</span>
                </a>
            </li>
            <li>
                <a class="app-menu-item" href="/Admin/Login">
                    <i class='bx bx-log-out'></i>
                    <span class="app-menu-label">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </aside>
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Content/vendor/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/vendor/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/Content/vendor/chart.js"></script>
    <script src="~/Areas/Admin/Content/vendor/pace.min.js"></script>
    <script src="~/Areas/Admin/Content/js/main.js"></script>
    @RenderSection("script", false)
</body>
</html>