@model App.Models.ConfirmPasswordCustomerModel
@{
    ViewBag.Title = "Xác Nhận Mật Khẩu - Sneaker Store";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<section class="form-input py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12 text-center">
                <img width="80%" src="@Url.Content("/Content/Images/login_start.jpg")" alt="" />
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="h-100 d-flex align-items-center">
                    @using (Html.BeginForm("ConfirmPasswordCustomer", "Account", FormMethod.Post, new { @class = "w-100 m-0 p-5 text-center" }))
                    {
                        <h5 class="mb-4">Xác Nhận Mật Khẩu</h5>
                        if (@ViewBag.ChangePasswordResult == true)
                        {
                            <div class="alert alert-success">Đổi mật khẩu thành công!</div>
                        }
                        @Html.PasswordFor(model => model.NewPassword, new
                        {
                            @class = "w-100 input-login-field",
                            @autocomplete = "off",
                            @placeholder = "Mật khẩu mới",
                            @type = "password"
                        })
                        <div class="text-left">
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger validator" })
                        </div>
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new
                        {
                            @class = "w-100 mt-3 input-login-field",
                            @autocomplete = "off",
                            @placeholder = "Xác nhận lại mật khẩu mới",
                            @type = "password"
                        })
                        <div class="text-left">
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger validator" })
                        </div>
                        <div class="mt-2">
                            @Html.ValidationMessage("", new { @class = "text-danger validator" })
                        </div>
                        <button type="submit" class="next w-100 mb-3 mt-4">Xác nhận</button>
                        <span class="shotcut">
                            <a class="mr-3" href="@Url.Action("Login", "Account")">Đăng nhập</a>
                            <a href="@Url.Action("Register", "Account")">Đăng ký?</a>
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
</section>